<div class="header">
  <div class="container">
    <div class="header__inner">
      <div class="logo">
        <img class="logo__pic" src="assets/logo.svg" alt="">
        <div class="logo__text">ритуальный<br>оптовый<br>магазин</div>
      </div>
      <nav class="nav">
        <a class="nav__link" href="#main">главная</a>
        <a class="nav__link" href="#products">продукция</a>
        <a class="nav__link" href="#">документы</a>
        <a class="nav__link" href="#about">о нас</a>
      </nav>
      <div class="contacts">
        <div class="contacts__numbers">
          <div class="contacts__number">+375(29) 393-72-37</div>
          <div class="contacts__number">+375(29) 306-68-06</div>
        </div>
        <img class="contacts__img" src="assets/telephone.svg" alt="">
      </div>
    </div>
  </div>
</div>
