$gray-light: #EDEDED;

.header {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  position: sticky;

  background-color: $gray-light;
  box-shadow: 0 4px 2px -2px gray;
}

.header__inner {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//LOGO
.logo {
  display: flex;
}

.logo__pic {
  width: 70px;
  height: 70px;
  margin-right: 1.5rem;
}

.logo__text {
  padding-top: 0.1rem;

  text-transform: uppercase;
  vertical-align: middle;
}

//NAV
.nav {
  display: flex;
  flex-wrap: wrap;
}

.nav__link {

  position: relative;


  font-size: 0.93rem;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;

  &:after {
    content: "";
    width: 0;
    height: 2px;
    background-color: black;

    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 1;

    transition: width .2s linear;
  }

  &:hover:not(.nav__link--btn) {
    &:after {
      width: 100%
    }
  }

  &--btn {
    padding: 0.66rem 2rem;

    border: 2px solid black;
    border-radius: 20px;

    transition: background-color .5s linear, color .5s linear;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.nav__link:not(:last-child) {
  margin-right: 2rem;
}

//CONTACTS
.contacts {
  display: flex;
}

.contacts__numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: .5rem 0 ;
}

.contacts__img {
  margin-left: 1rem;

  width: 70px;
  height: 70px;
}

@media (max-width: 1050px) {
  .contacts__numbers {
    display: none;
  }
}

@media (max-width: 850px) {
  .logo__text {
    display: none;
  }
}
