<div class="header">
  <div class="component">
    <div class="header__logo">
      <img class="header__logo__pic" src="assets/logo.svg" alt="">
      <div class="header__logo__text">ритуальный<br>оптовый<br>магазин</div>
    </div>
    <div class="header__nav">
      <nav class="nav">
        <a class="nav__link" href="/">главная</a>
        <a class="nav__link" href="/products">продукция</a>
        <a class="nav__link" href="/documents">документы</a>
        <a class="nav__link" href="/about">о нас</a>
      </nav>
    </div>
    <div class="header__contacts">
      <div class="header__numbers">
        <div class="header__number">+375(29) 393-72-37</div>
        <div class="header__number">+375(29) 306-68-06</div>
      </div>
      <img class="header__contacts_pic" src="assets/telephone.svg" alt="">
    </div>
  </div>
</div>
