<div class="intro">
  <div class="container">
    <div class="intro__inner">
      <div class="about">
        <h1 class="about__pre">у нас можно купить</h1>
        <h1 class="about__head">ритуальные венки оптом</h1>
        <h2 class="about__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, doloribus. Ut quis id rem, repellat voluptate et. Numquam sint incidunt odio libero adipisci nobis nihil? Sint cum illum placeat non!</h2>
        <ul class="about__properties">
          <li class="about__prop">большой выбор</li>
          <li class="about__prop">быстрый ответ</li>
          <li class="about__prop">доставка</li>
        </ul>
      </div>
      <div class="intro__prev">
        <img src="assets/intro.png" alt="" class="intro__pic">
      </div>
    </div>
  </div>
</div>
